{{- if .Values.database.localDeployment.deployDatabase -}}
apiVersion: v1
kind: Secret
metadata:
  name: ejbca-database-credentials
type: Opaque
data:
  username: {{ .Values.database.username | b64enc }}
  password: {{ .Values.database.password | b64enc }}
  password-root: {{ .Values.database.passwordRoot | b64enc }}
{{- end -}}